@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap%27%27');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body{
    background-color: white;
}

.container{
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    background-color: #171717;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0 50px 0;
    padding: 0 20px;
}

header img{
    width: 234px;
}
nav{
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-around;
}

nav ul{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;

}

nav ul:hover{
    height: 100%;
    background-color: #C21E6F;
    align-items: flex-end;
}

nav ul a{
    color: #FAFAF9;
    text-decoration: none;
}

main{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px 50px;
    justify-content: space-between;
}

.texto-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}

.big-text{
    /* text body */
    width: 400px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.small-text{
    color: rgba(239, 237, 232, 0.65);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
}
.imagem-banner{
    display: flex;
}
.imagem-banner img{
    display: flex;
    width: 300px;
}

button{
    display: flex;
    background-color: #C21E6F;
    width: 229px;
    height: 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    align-items: center;
    justify-content: space-evenly;
}
hr{
    width: 100%;
    border: 1px solid #C21E6F;
    margin: 10px 0;
}

.equipe{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
.texto-equipe{
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin: 10px 0;
}

.treinadores{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    padding: 0 10px;
}
.treinador img{
    width: 190px;
}
.treinador p{
    margin-top: 20px;
   color: #FFFFFF;
   text-align: center;
}

.button-equipe{
    margin: 20px auto;
    width: 655px;
}

.blog{
    display: flex;
    flex-wrap: wrap;
}
article{
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    margin: 20px auto;
    color: #FAFAF9;
}

article .titulo-blog{
    width: 526px;
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;

}

article .texto-blog{
    width: 480px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;

}

article div img{
    width: 300px;
    margin: 0 20px;
}

article a{
    display: flex;
    color: #C21E6F;
    text-decoration: none;
    align-items: center;
}

article a::after{
    content: "\279F";
    font-size: 30px;
}

.final{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.titulo{
    color: #FAFAF9;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;

}

.final .imagem{
    display: flex;
}

.final .imagem img{
    margin: 0 auto;
    width: 90%;
}

footer{
    width: 100%;
    display: flex;
    padding: 0 10px;
    margin: 20px auto;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
}

footer div div img{
    margin-right: 10px;
    width: 15px;
}
.telefone{
    margin-top: 30px;
    display: flex;
}
.campo, .info{
    margin-bottom: 3px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.info{
    font-size: 18px;

}

.adress{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}
.adress div{
    display: flex;
    flex-direction: row;
}
.adress div div{
    display: flex;
    flex-direction: column;
}

.schedule{
    display: flex;
    flex-direction: row;
}

.third{
    display: flex;
}

.social{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.social img{
    width: 30px;
}